
<div class="jumbotron">
    <h1> Destiny:  A How-To Guide</h1>

</div>


<p> Destiny is an online first person shooter game developed for the PC, PS3,PS4, Xbox 360, and Xbox one.
It is the first online only game from Bungie. The game revolves around players known as "Guardians" defending the last
safe city of Earth and the being known as the Traveler thats hovering above it. It is the guardians mission to take out
the threats. </p>

<p> With this game being ann MMORPG of sorts, there is a ton of data to track. Players have armor pieces, different weapons,
different skills. In addition to this, there are levels to track, dungeons(called strikes) to beat, and glorious
combat to participate in.</p>


<p> Destiny's initial release was considered revolutionary for MMORPGs on consoles but the game felt unfinished and empty.
    With the release of the first expansion "The Taken King" within the last year, the game has essentially been
    revitalised and been given plenty of extra features. This of course results in ample play time for my buds and I.</p>


<p> So with that brief introduction out of the way, it is now time to get to the juicy details. There are already guides
    out there describing how to get an API KEY from Bungie but not enough describing how to get it to work with node.js
    and the request module. That will be our first step before we start looking at what information we can dig up. Then we
will go through some JSON calls that I feel haven't been discussed enough and show you how to tinker with them to show
more meaningful results</p>

<br>





<h2> Set Up and Compatability </h2>

<p> All testing for this How-To Guide was done via the Ubuntu server as well as Node.js. There should be no need
to install any additional plugins besides the ones used in Oregon State University's CS290 Web Development Course.The only
programming language used was Javascript. Code will be shown as well as results of code through the wonderful magic of
express, handlebars, and bootstrap. Some of the examples include data thats loaded in from server-side interaction and some
of the examples will be static image files. </p>

<h2> Destiny Bungie Net Platform</h2>
<p> https://www.bungie.net/en/Clan/Forum/39966</p>
<p> You can find some great information here as well as what other developers are trying to put together</p>

<p><a href="API"> API Page</a> </p>





